.page5-para{
    padding: 30px;
}
.track-button{
    background: linear-gradient(297.28deg, #F66E6E 67.01%, rgba(246, 110, 110, 0) 123.71%);
filter: drop-shadow(0px 2px 6px rgba(255, 22, 64, 0.33));
border-radius: 70px;
width: 315px;
height: 66px;


font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 19.8605px;
line-height: 30px;

/* identical to box height */
text-align: center;

color: #FFFFFF;
    
    margin-bottom: 10px;
}
.gallery{
    width: 100vw;
    margin-bottom: 0px;
}
.page5{
  
    background: linear-gradient(176.88deg, #F3B8BC 2.58%, #FFDAD4 93.07%);  
}
.h51{
    font-family: 'Reptile';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 134.8%;

/* or 43px */

color: #000000;
text-align: left;

margin-top: 30px;
}
.p51{
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 206.5%;

text-align: left;

color: rgba(0, 0, 0, 0.8);
margin-top: 27px;
}